html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    /* O segredo está no 'fixed' e na altura mínima */
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
                url('img/fundo.png') no-repeat center center;
    background-size: cover;
    background-attachment: fixed; /* Mantém o fundo parado ao rolar */
    min-height: 100vh; /* Ocupa 100% da altura da visualização */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white; /* Ajuste para os textos aparecerem bem */
}

h1 {
    color: #fffefc;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 30px;
    margin: 5px;
    
}

